html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0px;
    background-color: black;
}