@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
html {
  height: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #372B24;
  background: #F9F1DC;
  margin: 0;
  height: 100%;
}
.section {
  height: 100%;
  position: relative;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 425px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background-color: #F9F1DC; 
}
.bg2 {
  background-color: #372B24;
  color: #F9F1DC;
}
h1 {
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 38px;
margin-bottom: 2rem;
padding-left: 0.5rem;
}
.revealUp {
  opacity: 1;
  visibility: inline;
}
.spacer {
  height: 50vh;
  background-color: #000;
}

.reportText {

align-items: center;
text-align: center;
}

.highlight {
  font-weight: 700;
  font-size: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.next {
  position: fixed;
  width: 100%;
  background: #00000022;
  z-index: 10;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-icon {
  font-size: 4rem;
  color:#FFFFFF;
}

.swiper-pagination-bullet-active {
     background-color: #999999 !important;
}

.w-6 {
  width: 4rem;
}

.h-6 {
  height: 4rem;
}

.bg-top {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0px;
  height: 100%;
}

.bg-bottom {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0px;
}

@media screen and (max-width: 376px) {
  body {
    font-size: 16px;
  }
  .highlight {
    font-size: 18px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 1rem;
  }
}